pkgbase = usbutils
	pkgdesc = A collection of USB tools to query connected USB devices
	pkgver = 016
	pkgrel = 2
	url = https://git.kernel.org/pub/scm/linux/kernel/git/gregkh/usbutils.git/
	arch = x86_64
	license = GPL-2.0-only
	license = GPL-2.0-or-later
	license = GPL-3.0-only
	makedepends = libusb
	makedepends = systemd
	depends = glibc
	depends = hwdata
	optdepends = coreutils: for lsusb.py usage
	optdepends = python: for lsusb.py usage
	optdepends = sh: for usb-devices
	source = https://www.kernel.org/pub/linux/utils/usb/usbutils/usbutils-016.tar.xz
	source = https://www.kernel.org/pub/linux/utils/usb/usbutils/usbutils-016.tar.sign
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha512sums = 4483038bf91c056cd2977f5e7f449c0a62d9152d6f5d64ab7bde438ab9c1c56fe524ba10b35781c2828edd0fe89379dbaed78fa7ffe78903cae0c4e3c460f9a0
	sha512sums = SKIP
	b2sums = 2f3af61e5a7abf48cdf0a4aebc901ca1570007b54d11ae74572e16bdeb2d8e73844d76af54bd812d6d4b84ddaf6e956132ecc9a8a2849a7bffc0643e29115a49
	b2sums = SKIP

pkgname = usbutils
	depends = glibc
	depends = hwdata
	depends = libusb
	depends = libusb-1.0.so
	depends = systemd-libs
	depends = libudev.so
